body{
    background-color: darkmagenta;
    margin:0;
    padding:0;
    font-family:Montserrat;
    font-size: x-large
}


header,nav,section,aside,main,footer {
padding:10px;        
}

section{
background-color:#006699;     
}

.headers{
    display: flex;
}


.hrd_uno {
    background-color: aqua;
    flex:20%;    
}

.hrd_dos {
    background-color: azure;
    flex:60%;
}

.hrd_tres {
    background-color: aquamarine;
    flex:20%;
}

header {background-color:aquamarine;}
nav{
    border: solid #131313;
    border-radius: 10px;
    margin: 10px;
    background-color:#eeee;
    font-size:medium;
}

.contenedor-columnas {
    
    display:flex;
}

.columna-izquierda{
    background-color: chocolate;
    flex:30%; 
}

.columna-derecha{
    border: solid #131313;
    border-radius: 10px;
    margin: 10px;
    background-color: greenyellow;
    margin-left:2%;
    flex:70%;

}
.columna-unica{
background-color: purple;
margin:10px; 
}

footer{
    font-size:small;
    background-color: aqua;
}

nav{
    background: gris
}
nav ul{
    list-style: none;
}
nav ul li{
    display:inline;
    padding:15px;
}